<div class="container">
  <h1>Hair Salon</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <% if @stylists.any?() %>
        <h3>Here are your stylists:</h3>

          <ul>
            <% @stylists.each() do |stylist| %>
              <li><a class = "btn waves-effect waves-light" href = "/stylists/<%= stylist.id() %>/clients"><%= stylist.name() %></a>
                <a class = "btn-floating btn-small red" href = "/stylists/<%= stylist.id() %>/edit"><i class="large material-icons">mode_edit</i></a></li><br>
            <% end %>
          </ul>

          <% else %>
          <h3>Here are your stylists:</h3>

          <p>There are no stylists yet!</p>
          <% end %>
    </div>
    <form action="/stylists" method="post">
      <div class="form-group">
        <div class="col-sm-4">
          <label for="name">Enter The Name Of Your Stylist:</label>
          <input type="text" name="name" autofocus>
        </div>
        <button class="btn" type="submit">Add Stylist</button>
        <a class="btn" href="/method">Clear Stylists</a>
      </div>
    </form>
  </div>
</div>
